<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locadora_Saga</title>
</head>
<body>
    <header>
        <b>Gustavo rallenson Gonçalves Da Silva</b> 2021102136
    </header>
    <h1>{{página}}</h1>
        <main>
            {% block content %}
                
            {% endblock %}
        </main>
    <footer>
        <nav>
            <p>
                <u>
                    <span>Prójeto Locadora de Filmes</span>
                </u>
                <b>
                    <i>
                        <span>UGb-Ferp</span>
                    </i>
                </b>
            </p>
        </nav>
    </footer>
</body>
</html>